<a href="/auth/idnet" class="id-net-link" id="id-net-link">
  <img alt="Id.net-logo" src="http://img.y8.gpt.heliostech.hk:80/images/id.net-logo.png"><span class="id-net-link-label">
    Connect with id.net
  </span>
</a>
